.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.35;
    background-color: #f6f6f6;
}
.sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgrey;
    background-color: white;
} 
.sidebar__headerRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar__search {
    display: flex;
    align-items: center;
    background-color:#f6f6f6;
    height: 39px;
    padding: 10px;
}

.sidebar__searchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px; 
}

.sidebar__searchContainer > .MuiSvgIcon-root {
    color: gray;
    padding: 10px;
}

.sidebar__searchContainer > input {
    border: none;
    outline-width: 0;
}

.sidebar__chats {
    flex: 1;
    background-color:white;
    box-shadow: 5px 6px 8px 5px rgba(233, 228, 229, 0.993);
    margin: 0px 20px 0px 0px;
}